
@font-face {
    font-family: Roboto Mono;
    src: url('/font/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Roboto Mono Bold;
    src: url('/font/RobotoMono-Bold.ttf') format('truetype');
}

.background {
    -fx-background-color: derive(#FEFBF7, 0%);
    background-color: #fff; /* Used in the default.html file */
}

.root {
    -fx-font-family: "Roboto Mono ";
    -fx-border-width: 1px;
    -fx-border-color: black;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Roboto Mono";
    -fx-text-fill: #ffffff;
    -fx-opacity: 0.9;
}

.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-border-color: #000;
    -fx-border-width: 2px;
    -fx-focus-color: transparent;
    -fx-indent: 0;
}

.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
    -fx-font-size: 10px;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
    -fx-font-size: 10px;
}

.help-window-text {
    -fx-font-size: 10px;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Roboto Mono";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

/*Header of every page*/
.label-header {
    -fx-font-size: 12pt;
    -fx-font-family: "Roboto Mono Bold";
    -fx-padding: 0px 30px 0px 30px;
    -fx-text-fill: #FBFCDD;
    -fx-opacity: 1;
    -fx-background-color: black;
}

/*Details on TRIP page*/
.label-tripName {
    -fx-font-family: "Roboto Mono Bold";
    -fx-font-size: 20px;
    -fx-text-fill: #010504;
    -fx-opacity: 1;
}

.label-placeDate {
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

/*Header on every page*/
.stack-header {
    -fx-alignment: center;
    -fx-background-color: #6892ff;
    -fx-border-width: 1px 0px 2px 0px;
    -fx-border-color: black;
}

/*Header for trip list views*/
.trip-list-header {
    -fx-alignment: center;
    -fx-background-color: #8BD4B1;
    -fx-border-width: 1px 0px 2px 0px;
    -fx-border-color: black;
}


.label-welcome {
    -fx-font-size: 26pt;
    -fx-font-family: "Roboto Mono Bold";
    -fx-text-fill: black;
    -fx-padding: 10 10 10 10;
}

.stack-welcome {
    -fx-background-color: #FEFBF7;
    -fx-border-width: 1px 0px 1px 0px;
    -fx-border-color: black;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Roboto Mono";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #FEFBF7;
    -fx-control-inner-background: #FEFBF7;
    -fx-background-color: #FEFBF7;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 2px;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Roboto Mono";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#FEFBF7, 0%);
    -fx-border-color: transparent transparent transparent;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 2px;
    -fx-background-color: #FEFBF7;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #FEFBF7;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #FEFBF7;
}

.list-cell:filled:odd {
    -fx-background-color: #c0bebb;
}

.list-cell:filled:selected {
    -fx-background-color: white;
}

.list-cell:filled:selected #cardPane {

}

.list-cell .label {
    -fx-text-fill: black;
}

.cell_big_label {
    -fx-font-family: "Roboto Mono Bold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
    -fx-padding: 0 0 0 22;
}

.pane-with-border {
    -fx-background-color: rgba(253, 255, 117, 0.54);
    -fx-border-color: #000;
    -fx-border-width: 1px;
}

.status-bar {
    -fx-background-color: derive(#F08080, 20%);
    -fx-border-width: 1px 1px 0px 1px;
    -fx-border-color: black;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Roboto Mono";
    -fx-text-fill: #010504;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: #FEFBF7;
    -fx-border-color: #1d1d1d;
    -fx-border-width: 2px;
}

.status-bar-with-border .label {
    -fx-text-fill: black;
}

.grid-pane {
    -fx-background-color: #FEFBF7;
}

.grid-pane .stack-pane {
    -fx-background-color: #fff968;
}

.context-menu {
    -fx-background-color: #fff968;
    -fx-border-color: #000;
    -fx-border-width: 2px;
}

.context-menu .label {
    -fx-text-fill: #000000;
}

/*Menu buttons*/
.menu {
    -fx-border-width: 0 2px 0 0;
    -fx-border-color: black;
    -fx-padding: 2 10 2 10;
}

.menu-bar {
    -fx-background-color: derive(#fff968, 0%);
    -fx-border-width: 1px 1px 0px 1px;
    -fx-border-color: black;
}

.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Roboto Mono Bold";
    -fx-text-fill: black;
    -fx-opacity: 0.9;
}

.menu-item:hover{
    -fx-text-fill: black;
    -fx-background-color: transparent;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2px;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Roboto Mono", monospace;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #8bd4b1;
}

.button-enter {
    -fx-padding: 0;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-background-radius: 0;
    -fx-background-color: #8bd4b1;
    -fx-font-family: "Roboto Mono Bold", monospace;
    -fx-font-size: 12pt;
    -fx-text-fill: black;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #1B9591;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-background-color: #1B9591;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: #1B9591;
}

.button:default:hover {
    -fx-background-color: #1B9591;
}

.dialog-pane {
    -fx-background-color: #FEFBF7;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #FEFBF7;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#FEFBF7, 0%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}


/*SCROLL BAR */
.scroll-bar {
    -fx-min-width: 30px;
    -fx-background-color: derive(#F08080, 20%);
    -fx-border-width: 0px 0px 0px 2px;
    -fx-border-color: black;
}

.scroll-bar .thumb {
    -fx-min-width: 30px;
    -fx-background-color: #fff;
    -fx-border-width: 2px 1px 2px 0px;
    -fx-border-color: black;
    -fx-background-radius: 0em;
    -fx-background-insets: 0px;
}

.scroll-bar .increment-button {
    -fx-min-width: 20px;
    -fx-min-height: 20px;
}

.scroll-bar .decrement-button {
    -fx-min-width: 20px;
    -fx-min-height: 20px;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: black;
}


#cardPane {
    -fx-background-color: transparent;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

/*Command Box*/

.stackPane-ResultBox {
    -fx-background-color: #FBFCDD;
    -fx-border-width: 2px 1px 0px 1px;
    -fx-border-color: #000;
}

.stackPane-CommandBox {
    -fx-background-color: #FBFCDD;
    -fx-border-width: 0px 1px 1px 1px;
    -fx-border-color: #000;
}

#commandTextField {
    -fx-background-color: #FEFBF7;
    -fx-background-insets: 0;
    -fx-border-color: #383838 #383838 #383838 #383838;
    -fx-border-insets: 0;
    -fx-border-width: 2px;
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

#resultDisplay {
    -fx-border-width: 1px;
    -fx-border-color: black;
}

#resultDisplay .content {
    -fx-background-color: #FEFBF7;
    -fx-background-radius: 0;
}

.vBox-home {
    -fx-background-color: #FEFBF7;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: black;
}

/*TRIP PAGE*/

#tripNameCardPane {
    -fx-background-color: #FEFBF7;
}

/*CardPane for trip details on TRIP PAGE*/
.vBox-trip {
    -fx-background-color: #FEFBF7;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: black;
}

.tripFeature-vBox {
    -fx-background-color: #CCC3EA;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: black;
}

.label-tripFeature {
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 24px;
    -fx-text-fill: #010504;
}

/*JOURNAL PAGE*/

.vBox-journal {
    -fx-background-color: #FEFBF7;
}

/* At the top of the journal card*/
.hBox-journal {
    -fx-background-color: #FBFCDD;
    -fx-border-width: 2px 2px 0px 2px;
    -fx-border-color: black;
    -fx-padding: 5px 0px 0px 0px;
}

.hBox-journal-metadata {
    -fx-background-color: #FBFCDD;
    -fx-border-width: 0px 2px 0px 2px;
    -fx-border-color: black;
}

.hBox-journal-entry {
    -fx-background-color: #FBFCDD;
    -fx-border-width: 0px 2px 0px 2px;
    -fx-border-color: black;
}

.hBox-journal-id {
    -fx-background-color: #FBFCDD;
    -fx-border-width: 0px 2px 2px 2px;
    -fx-border-color: black;
    -fx-text-fill: #f0585f;
    -fx-padding: 0 10 10 10;
}

.label-entry-metadata {
    -fx-font-family: "Roboto Mono Bold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
    -fx-padding: 5 0 5 15;
}

.label-entry {
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
    -fx-padding: 10 0 0 15;
}

.label-feeling {
    -fx-font-family: "Roboto Mono Bold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
    -fx-padding:2 5 2 5;
}

.hBox-feeling {
    -fx-padding:8 25 0 0;
}

.label-journal-id {
    -fx-text-fill: #f0585f;
    -fx-font-size: 20px;
    -fx-background-color: #FBFCDD;
    -fx-padding: 0px 10px 5px 0px;
}

#entryListView .list-cell{
    -fx-border-width: 1px 0px 1px 0px;
    -fx-background-color:#FEFBF7;
}

#activityListView .list-cell{
    -fx-border-width: 1px 0px 1px 0px;
    -fx-background-color:#FEFBF7;
}

#tripListView .list-cell {
    -fx-border-width: 1px 0px 1px 0px;
    -fx-background-color:#FEFBF7;
}

#tripFeaturesListView .list-cell {
    -fx-border-width: 1px 0px 1px 0px;
    -fx-background-color:#FEFBF7;
}

/*ITINERARY PAGE*/
.hBox-itinerary {
    -fx-background-color: #FEFBF7;
    -fx-padding: 20 20 20 20;
}

.vBox-itineraryTitleLocation {
    -fx-background-color: #FBFCDD;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-padding: 0;
}

.label-location {
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 18px;
    -fx-text-fill: #010504;
    -fx-padding: 0 0 0 22;
}

.label-dateTime {
    -fx-font-family: "Roboto Mono";
    -fx-font-size: 12px;
    -fx-text-fill: #010504;
}

.stack-titleLocation {
    -fx-background-color: black;
}
